.button {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  display: inline-block;

  font-family: var(--font-text);
  font-size: var(--font-size-4);
  color: var(--color-text);
  font-weight: var(--font-weight-1);
  text-decoration: none;

  padding: var(--button-padding);
  border-radius: var(--border-radius-large);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--white-space-3);

  max-inline-size: fit-content;
  transition: all var(--animation-duration-3) ease-in-out;
}

.button.icon-only {
  justify-content: center;
  padding: 0;

  block-size: 4.5rem;
  aspect-ratio: 1;
}

.button.all-width {
  inline-size: 100%;
  max-inline-size: 100%;
  justify-content: center;
}

.button.primary {
  background-color: var(--color-button-primary);

  & p {
    color: var(--color-button-primary-text);
  }

  &:hover {
    background-color: var(--color-button-primary-hover);
  }
}

.button.secondary {
  background-color: color-mix(
    in srgb,
    var(--color-button-secondary) 15%,
    transparent
  );

  & p {
    color: var(--color-button-secondary-text);
  }

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-button-secondary-hover) 15%,
      transparent
    );
  }
}
