.container {
  grid-column: 2 / 3;
  grid-row: 4 / 5;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding: var(--landing-offset-padding);
}

.text {
  padding-block-start: var(--white-space-7);
  display: inline-block;

  font-family: var(--font-text);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-2);
  color: var(--color-violet-7);
  opacity: 0.7;
  transition: opacity var(--animation-duration-3) ease-in-out;
}

.text:hover {
  opacity: 1;
  cursor: url("/src/assets/call-me-hand.avif"), auto;
}
